body{
    background-color: #ffffff;
}
nav{
    background-color: #C2AAE3;
    box-shadow: 0px 1px 5px #8067a3;
}
h3{
    color: white;
    text-shadow: 2px 4px 5px #A56ACB;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container-fluid {
    margin: auto;
}

h3:hover {
    color: #8250c9;
    transition: 0.5s
}
h2{
    color: #8250c9;
    margin: 25px;
    text-align: center;
}
h2:hover{
    color: #C2AAE3;
    transition: 0.5s;
}
.texto{
    padding-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.carousel{
    box-shadow: 0px 0px 30px #8250c9;
    
}
